body {
    /*ubicacion de la imagen*/
background-color: rgb(238, 238, 131);
    background-image:url(imagenes/llamita2.png);
    font-family: "Verdana", Times, serif;

    /*para que no se repita*/
    background-repeat: no-repeat;

    /* cambia segun el ancho */
    background-size: 40%;
    
    /* color de la fuente*/
    color:rgb(6, 5, 61);
}
#formulario1{
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    /* ancho del div3  */
    width: 400px; 
    /* alto  del div     */
    height: 300px; 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    /* background-image:url(imagenes/formulario.jpg); */
    background-size: cover;
    background-color:rgb(166, 245, 245);
    border-radius:20px;
    

}
#formulario2{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/formulario.jpg);
    background-size: cover;
    border-radius:20px;
}

#preguntaG1{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/gastronomia.jpg);
    background-size: cover;
    border-radius:20px;
}
#preguntaG2{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%;
    padding:1%;
    background-image:url(imagenes/gastronomia.jpg);
    background-size: cover; 
    border-radius:20px;
}

#preguntaG3{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/gastronomia.jpg);
    background-size: cover;
    border-radius:20px;
}

#preguntaC1{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/Cultura.jpg);
    background-size: 100%;
    border-radius:20px;
}

#preguntaC2{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/Cultura.jpg);
    background-size: 100%;
    border-radius:20px;
}

#preguntaC3{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%;
    padding:1%;
    background-image:url(imagenes/Cultura.jpg);
    background-size: 100%; 
    border-radius:20px;
}

#Formulario_Resultado_Gastronomia{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/resultado.jpg);
    background-size: cover;
    border-radius:20px;
}

#Formulario_Resultado_Cultura{
    display:none;
    font:italic;
    color:rgb(6, 5, 61);
    text-align: center;
    width: 400px; /*ancho del div*/      
    height: 400px; /*alto  del div*/ 
    margin-top: 10%; 
    margin-left: 60%; 
    padding:1%;
    background-image:url(imagenes/resultado.jpg);
    background-size: cover;
    border-radius:20px;
}


